<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.returnp.pointback.dao.mapper.AffiliateDetailMapper">
  <resultMap id="BaseResultMap" type="com.returnp.pointback.model.AffiliateDetail">
    <id column="affiliateDetailNo" jdbcType="INTEGER" property="affiliateDetailNo" />
    <result column="affiliateNo" jdbcType="INTEGER" property="affiliateNo" />
    <result column="businessNumber" jdbcType="VARCHAR" property="businessNumber" />
    <result column="businessType" jdbcType="VARCHAR" property="businessType" />
    <result column="businessItem" jdbcType="VARCHAR" property="businessItem" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    affiliateDetailNo, affiliateNo, businessNumber, businessType, businessItem, createTime, 
    updateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from affiliate_detail
    where affiliateDetailNo = #{affiliateDetailNo,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from affiliate_detail
    where affiliateDetailNo = #{affiliateDetailNo,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.returnp.pointback.model.AffiliateDetail">
    insert into affiliate_detail (affiliateDetailNo, affiliateNo, businessNumber, 
      businessType, businessItem, createTime, 
      updateTime)
    values (#{affiliateDetailNo,jdbcType=INTEGER}, #{affiliateNo,jdbcType=INTEGER}, #{businessNumber,jdbcType=VARCHAR}, 
      #{businessType,jdbcType=VARCHAR}, #{businessItem,jdbcType=VARCHAR}, NOW(), NOW())
           <selectKey keyProperty="affiliateDetailNo" resultType="java.lang.Integer" order ="AFTER">
		    SELECT LAST_INSERT_ID()
	 </selectKey>	
  </insert>
  <insert id="insertSelective" parameterType="com.returnp.pointback.model.AffiliateDetail">
    insert into affiliate_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="affiliateDetailNo != null">
        affiliateDetailNo,
      </if>
      <if test="affiliateNo != null">
        affiliateNo,
      </if>
      <if test="businessNumber != null">
        businessNumber,
      </if>
      <if test="businessType != null">
        businessType,
      </if>
      <if test="businessItem != null">
        businessItem,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="updateTime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="affiliateDetailNo != null">
        #{affiliateDetailNo,jdbcType=INTEGER},
      </if>
      <if test="affiliateNo != null">
        #{affiliateNo,jdbcType=INTEGER},
      </if>
      <if test="businessNumber != null">
        #{businessNumber,jdbcType=VARCHAR},
      </if>
      <if test="businessType != null">
        #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="businessItem != null">
        #{businessItem,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.returnp.pointback.model.AffiliateDetail">
    update affiliate_detail
    <set>
      <if test="affiliateNo != null">
        affiliateNo = #{affiliateNo,jdbcType=INTEGER},
      </if>
      <if test="businessNumber != null">
        businessNumber = #{businessNumber,jdbcType=VARCHAR},
      </if>
      <if test="businessType != null">
        businessType = #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="businessItem != null">
        businessItem = #{businessItem,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where affiliateDetailNo = #{affiliateDetailNo,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.returnp.pointback.model.AffiliateDetail">
    update affiliate_detail
    set affiliateNo = #{affiliateNo,jdbcType=INTEGER},
      businessNumber = #{businessNumber,jdbcType=VARCHAR},
      businessType = #{businessType,jdbcType=VARCHAR},
      businessItem = #{businessItem,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updateTime = NOW()
    where affiliateDetailNo = #{affiliateDetailNo,jdbcType=INTEGER}
  </update>
</mapper>