<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.returnp.pointback.dao.mapper.AffiliateTidMapper">
  <resultMap id="BaseResultMap" type="com.returnp.pointback.model.AffiliateTid">
    <id column="affiliateTidNo" jdbcType="INTEGER" property="affiliateTidNo" />
    <result column="affiliateNo" jdbcType="INTEGER" property="affiliateNo" />
    <result column="tid" jdbcType="VARCHAR" property="tid" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    affiliateTidNo, affiliateNo, tid, createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from affiliate_tid
    where affiliateTidNo = #{affiliateTidNo,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from affiliate_tid
    where affiliateTidNo = #{affiliateTidNo,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.returnp.pointback.model.AffiliateTid">
    insert into affiliate_tid (affiliateTidNo, affiliateNo, tid, 
      createTime, updateTime)
    values (#{affiliateTidNo,jdbcType=INTEGER}, #{affiliateNo,jdbcType=INTEGER}, #{tid,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.returnp.pointback.model.AffiliateTid">
    insert into affiliate_tid
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="affiliateTidNo != null">
        affiliateTidNo,
      </if>
      <if test="affiliateNo != null">
        affiliateNo,
      </if>
      <if test="tid != null">
        tid,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="updateTime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="affiliateTidNo != null">
        #{affiliateTidNo,jdbcType=INTEGER},
      </if>
      <if test="affiliateNo != null">
        #{affiliateNo,jdbcType=INTEGER},
      </if>
      <if test="tid != null">
        #{tid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.returnp.pointback.model.AffiliateTid">
    update affiliate_tid
    <set>
      <if test="affiliateNo != null">
        affiliateNo = #{affiliateNo,jdbcType=INTEGER},
      </if>
      <if test="tid != null">
        tid = #{tid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where affiliateTidNo = #{affiliateTidNo,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.returnp.pointback.model.AffiliateTid">
    update affiliate_tid
    set affiliateNo = #{affiliateNo,jdbcType=INTEGER},
      tid = #{tid,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updateTime = #{updateTime,jdbcType=TIMESTAMP}
    where affiliateTidNo = #{affiliateTidNo,jdbcType=INTEGER}
  </update>
</mapper>