<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.returnp.pointback.dao.mapper.BranchMapper">
  <resultMap id="BaseResultMap" type="com.returnp.pointback.model.Branch">
    <id column="branchNo" jdbcType="INTEGER" property="branchNo" />
    <result column="soleDistNo" jdbcType="INTEGER" property="soleDistNo" />
    <result column="branchCode" jdbcType="VARCHAR" property="branchCode" />
    <result column="branchName" jdbcType="VARCHAR" property="branchName" />
    <result column="branchAddress" jdbcType="VARCHAR" property="branchAddress" />
    <result column="branchTel" jdbcType="VARCHAR" property="branchTel" />
    <result column="branchPhone" jdbcType="VARCHAR" property="branchPhone" />
    <result column="branchStatus" jdbcType="VARCHAR" property="branchStatus" />
    <result column="memberNo" jdbcType="INTEGER" property="memberNo" />
    <result column="recommenderNo" jdbcType="INTEGER" property="recommenderNo" />
    <result column="regType" jdbcType="CHAR" property="regType" />
    <result column="regAdminNo" jdbcType="INTEGER" property="regAdminNo" />
    <result column="branchEmail" jdbcType="VARCHAR" property="branchEmail" />
    <result column="greenPointAccStatus" jdbcType="CHAR" property="greenPointAccStatus" />
    <result column="redPointAccStatus" jdbcType="CHAR" property="redPointAccStatus" />
    <result column="greenPointUseStatus" jdbcType="CHAR" property="greenPointUseStatus" />
    <result column="redPointUseStatus" jdbcType="CHAR" property="redPointUseStatus" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    branchNo, soleDistNo, branchCode, branchName, branchAddress, branchTel, branchPhone, 
    branchStatus, memberNo, recommenderNo, regType, regAdminNo, branchEmail, greenPointAccStatus, 
    redPointAccStatus, greenPointUseStatus, redPointUseStatus, createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from branch
    where branchNo = #{branchNo,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from branch
    where branchNo = #{branchNo,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.returnp.pointback.model.Branch">
    insert into branch (branchNo, soleDistNo, branchCode, 
      branchName, branchAddress, branchTel, 
      branchPhone, branchStatus, memberNo, 
      recommenderNo, regType, regAdminNo, 
      branchEmail, greenPointAccStatus, redPointAccStatus, 
      greenPointUseStatus, redPointUseStatus, createTime, 
      updateTime)
    values (#{branchNo,jdbcType=INTEGER}, #{soleDistNo,jdbcType=INTEGER}, #{branchCode,jdbcType=VARCHAR}, 
      #{branchName,jdbcType=VARCHAR}, #{branchAddress,jdbcType=VARCHAR}, #{branchTel,jdbcType=VARCHAR}, 
      #{branchPhone,jdbcType=VARCHAR}, #{branchStatus,jdbcType=VARCHAR}, #{memberNo,jdbcType=INTEGER}, 
      #{recommenderNo,jdbcType=INTEGER}, #{regType,jdbcType=CHAR}, #{regAdminNo,jdbcType=INTEGER}, 
      #{branchEmail,jdbcType=VARCHAR}, #{greenPointAccStatus,jdbcType=CHAR}, #{redPointAccStatus,jdbcType=CHAR}, 
      #{greenPointUseStatus,jdbcType=CHAR}, #{redPointUseStatus,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.returnp.pointback.model.Branch">
    insert into branch
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="branchNo != null">
        branchNo,
      </if>
      <if test="soleDistNo != null">
        soleDistNo,
      </if>
      <if test="branchCode != null">
        branchCode,
      </if>
      <if test="branchName != null">
        branchName,
      </if>
      <if test="branchAddress != null">
        branchAddress,
      </if>
      <if test="branchTel != null">
        branchTel,
      </if>
      <if test="branchPhone != null">
        branchPhone,
      </if>
      <if test="branchStatus != null">
        branchStatus,
      </if>
      <if test="memberNo != null">
        memberNo,
      </if>
      <if test="recommenderNo != null">
        recommenderNo,
      </if>
      <if test="regType != null">
        regType,
      </if>
      <if test="regAdminNo != null">
        regAdminNo,
      </if>
      <if test="branchEmail != null">
        branchEmail,
      </if>
      <if test="greenPointAccStatus != null">
        greenPointAccStatus,
      </if>
      <if test="redPointAccStatus != null">
        redPointAccStatus,
      </if>
      <if test="greenPointUseStatus != null">
        greenPointUseStatus,
      </if>
      <if test="redPointUseStatus != null">
        redPointUseStatus,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="updateTime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="branchNo != null">
        #{branchNo,jdbcType=INTEGER},
      </if>
      <if test="soleDistNo != null">
        #{soleDistNo,jdbcType=INTEGER},
      </if>
      <if test="branchCode != null">
        #{branchCode,jdbcType=VARCHAR},
      </if>
      <if test="branchName != null">
        #{branchName,jdbcType=VARCHAR},
      </if>
      <if test="branchAddress != null">
        #{branchAddress,jdbcType=VARCHAR},
      </if>
      <if test="branchTel != null">
        #{branchTel,jdbcType=VARCHAR},
      </if>
      <if test="branchPhone != null">
        #{branchPhone,jdbcType=VARCHAR},
      </if>
      <if test="branchStatus != null">
        #{branchStatus,jdbcType=VARCHAR},
      </if>
      <if test="memberNo != null">
        #{memberNo,jdbcType=INTEGER},
      </if>
      <if test="recommenderNo != null">
        #{recommenderNo,jdbcType=INTEGER},
      </if>
      <if test="regType != null">
        #{regType,jdbcType=CHAR},
      </if>
      <if test="regAdminNo != null">
        #{regAdminNo,jdbcType=INTEGER},
      </if>
      <if test="branchEmail != null">
        #{branchEmail,jdbcType=VARCHAR},
      </if>
      <if test="greenPointAccStatus != null">
        #{greenPointAccStatus,jdbcType=CHAR},
      </if>
      <if test="redPointAccStatus != null">
        #{redPointAccStatus,jdbcType=CHAR},
      </if>
      <if test="greenPointUseStatus != null">
        #{greenPointUseStatus,jdbcType=CHAR},
      </if>
      <if test="redPointUseStatus != null">
        #{redPointUseStatus,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.returnp.pointback.model.Branch">
    update branch
    <set>
      <if test="soleDistNo != null">
        soleDistNo = #{soleDistNo,jdbcType=INTEGER},
      </if>
      <if test="branchCode != null">
        branchCode = #{branchCode,jdbcType=VARCHAR},
      </if>
      <if test="branchName != null">
        branchName = #{branchName,jdbcType=VARCHAR},
      </if>
      <if test="branchAddress != null">
        branchAddress = #{branchAddress,jdbcType=VARCHAR},
      </if>
      <if test="branchTel != null">
        branchTel = #{branchTel,jdbcType=VARCHAR},
      </if>
      <if test="branchPhone != null">
        branchPhone = #{branchPhone,jdbcType=VARCHAR},
      </if>
      <if test="branchStatus != null">
        branchStatus = #{branchStatus,jdbcType=VARCHAR},
      </if>
      <if test="memberNo != null">
        memberNo = #{memberNo,jdbcType=INTEGER},
      </if>
      <if test="recommenderNo != null">
        recommenderNo = #{recommenderNo,jdbcType=INTEGER},
      </if>
      <if test="regType != null">
        regType = #{regType,jdbcType=CHAR},
      </if>
      <if test="regAdminNo != null">
        regAdminNo = #{regAdminNo,jdbcType=INTEGER},
      </if>
      <if test="branchEmail != null">
        branchEmail = #{branchEmail,jdbcType=VARCHAR},
      </if>
      <if test="greenPointAccStatus != null">
        greenPointAccStatus = #{greenPointAccStatus,jdbcType=CHAR},
      </if>
      <if test="redPointAccStatus != null">
        redPointAccStatus = #{redPointAccStatus,jdbcType=CHAR},
      </if>
      <if test="greenPointUseStatus != null">
        greenPointUseStatus = #{greenPointUseStatus,jdbcType=CHAR},
      </if>
      <if test="redPointUseStatus != null">
        redPointUseStatus = #{redPointUseStatus,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where branchNo = #{branchNo,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.returnp.pointback.model.Branch">
    update branch
    set soleDistNo = #{soleDistNo,jdbcType=INTEGER},
      branchCode = #{branchCode,jdbcType=VARCHAR},
      branchName = #{branchName,jdbcType=VARCHAR},
      branchAddress = #{branchAddress,jdbcType=VARCHAR},
      branchTel = #{branchTel,jdbcType=VARCHAR},
      branchPhone = #{branchPhone,jdbcType=VARCHAR},
      branchStatus = #{branchStatus,jdbcType=VARCHAR},
      memberNo = #{memberNo,jdbcType=INTEGER},
      recommenderNo = #{recommenderNo,jdbcType=INTEGER},
      regType = #{regType,jdbcType=CHAR},
      regAdminNo = #{regAdminNo,jdbcType=INTEGER},
      branchEmail = #{branchEmail,jdbcType=VARCHAR},
      greenPointAccStatus = #{greenPointAccStatus,jdbcType=CHAR},
      redPointAccStatus = #{redPointAccStatus,jdbcType=CHAR},
      greenPointUseStatus = #{greenPointUseStatus,jdbcType=CHAR},
      redPointUseStatus = #{redPointUseStatus,jdbcType=CHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updateTime = #{updateTime,jdbcType=TIMESTAMP}
    where branchNo = #{branchNo,jdbcType=INTEGER}
  </update>
</mapper>