<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.returnp.pointback.dao.mapper.CodeMapper">
  <resultMap id="BaseResultMap" type="com.returnp.pointback.model.Code">
    <id column="codeNo" jdbcType="INTEGER" property="codeNo" />
    <result column="groupCode" jdbcType="VARCHAR" property="groupCode" />
    <result column="groupCodeName" jdbcType="VARCHAR" property="groupCodeName" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="codeValue" jdbcType="VARCHAR" property="codeValue" />
    <result column="codeName" jdbcType="VARCHAR" property="codeName" />
    <result column="adminUseStatus" jdbcType="CHAR" property="adminUseStatus" />
    <result column="webUseStatus" jdbcType="CHAR" property="webUseStatus" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    codeNo, groupCode, groupCodeName, code, codeValue, codeName, adminUseStatus, webUseStatus, 
    createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from code
    where codeNo = #{codeNo,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from code
    where codeNo = #{codeNo,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.returnp.pointback.model.Code">
    insert into code (codeNo, groupCode, groupCodeName, 
      code, codeValue, codeName, 
      adminUseStatus, webUseStatus, createTime, 
      updateTime)
    values (#{codeNo,jdbcType=INTEGER}, #{groupCode,jdbcType=VARCHAR}, #{groupCodeName,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR}, #{codeValue,jdbcType=VARCHAR}, #{codeName,jdbcType=VARCHAR}, 
      #{adminUseStatus,jdbcType=CHAR}, #{webUseStatus,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.returnp.pointback.model.Code">
    insert into code
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="codeNo != null">
        codeNo,
      </if>
      <if test="groupCode != null">
        groupCode,
      </if>
      <if test="groupCodeName != null">
        groupCodeName,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="codeValue != null">
        codeValue,
      </if>
      <if test="codeName != null">
        codeName,
      </if>
      <if test="adminUseStatus != null">
        adminUseStatus,
      </if>
      <if test="webUseStatus != null">
        webUseStatus,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="updateTime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="codeNo != null">
        #{codeNo,jdbcType=INTEGER},
      </if>
      <if test="groupCode != null">
        #{groupCode,jdbcType=VARCHAR},
      </if>
      <if test="groupCodeName != null">
        #{groupCodeName,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="codeValue != null">
        #{codeValue,jdbcType=VARCHAR},
      </if>
      <if test="codeName != null">
        #{codeName,jdbcType=VARCHAR},
      </if>
      <if test="adminUseStatus != null">
        #{adminUseStatus,jdbcType=CHAR},
      </if>
      <if test="webUseStatus != null">
        #{webUseStatus,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.returnp.pointback.model.Code">
    update code
    <set>
      <if test="groupCode != null">
        groupCode = #{groupCode,jdbcType=VARCHAR},
      </if>
      <if test="groupCodeName != null">
        groupCodeName = #{groupCodeName,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="codeValue != null">
        codeValue = #{codeValue,jdbcType=VARCHAR},
      </if>
      <if test="codeName != null">
        codeName = #{codeName,jdbcType=VARCHAR},
      </if>
      <if test="adminUseStatus != null">
        adminUseStatus = #{adminUseStatus,jdbcType=CHAR},
      </if>
      <if test="webUseStatus != null">
        webUseStatus = #{webUseStatus,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where codeNo = #{codeNo,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.returnp.pointback.model.Code">
    update code
    set groupCode = #{groupCode,jdbcType=VARCHAR},
      groupCodeName = #{groupCodeName,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      codeValue = #{codeValue,jdbcType=VARCHAR},
      codeName = #{codeName,jdbcType=VARCHAR},
      adminUseStatus = #{adminUseStatus,jdbcType=CHAR},
      webUseStatus = #{webUseStatus,jdbcType=CHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updateTime = #{updateTime,jdbcType=TIMESTAMP}
    where codeNo = #{codeNo,jdbcType=INTEGER}
  </update>
</mapper>