<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.returnp.pointback.dao.mapper.GpointPaymentMapper">
  <resultMap id="BaseResultMap" type="com.returnp.pointback.model.GpointPayment">
    <id column="gpointPaymentNo" jdbcType="INTEGER" property="gpointPaymentNo" />
    <result column="memberNo" jdbcType="INTEGER" property="memberNo" />
    <result column="memberPhone" jdbcType="VARCHAR" property="memberPhone" />
    <result column="memberName" jdbcType="VARCHAR" property="memberName" />
    <result column="memberEmail" jdbcType="VARCHAR" property="memberEmail" />
    <result column="affiliateNo" jdbcType="INTEGER" property="affiliateNo" />
    <result column="affiliateName" jdbcType="VARCHAR" property="affiliateName" />
    <result column="affiliateSerial" jdbcType="VARCHAR" property="affiliateSerial" />
    <result column="paymentApprovalAmount" jdbcType="INTEGER" property="paymentApprovalAmount" />
    <result column="paymentApprovalNumber" jdbcType="VARCHAR" property="paymentApprovalNumber" />
    <result column="paymentApprovalStatus" jdbcType="CHAR" property="paymentApprovalStatus" />
    <result column="paymentMethod" jdbcType="CHAR" property="paymentMethod" />
    <result column="paymentTransactionType" jdbcType="VARCHAR" property="paymentTransactionType" />
    <result column="paymentApprovalDateTime" jdbcType="TIMESTAMP" property="paymentApprovalDateTime" />
    <result column="realPaymentAmount" jdbcType="INTEGER" property="realPaymentAmount" />
    <result column="gpointPaymentAmount" jdbcType="INTEGER" property="gpointPaymentAmount" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    gpointPaymentNo, memberNo, memberPhone, memberName, memberEmail, affiliateNo, affiliateName, 
    affiliateSerial, paymentApprovalAmount, paymentApprovalNumber, paymentApprovalStatus, 
    paymentMethod, paymentTransactionType, paymentApprovalDateTime, realPaymentAmount, 
    gpointPaymentAmount, createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gpoint_payment
    where gpointPaymentNo = #{gpointPaymentNo,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from gpoint_payment
    where gpointPaymentNo = #{gpointPaymentNo,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.returnp.pointback.model.GpointPayment">
    insert into gpoint_payment (
    	gpointPaymentNo, 
    	memberNo, 
    	memberPhone, 
      	memberName, 
      	memberEmail, 
      	affiliateNo, 
      	affiliateName,
		affiliateSerial, 
		paymentApprovalAmount, 
      	paymentApprovalNumber, 
      	paymentApprovalStatus, 
      	paymentMethod, 
      	paymentTransactionType, 
      	paymentApprovalDateTime, 
      	realPaymentAmount, 
      	gpointPaymentAmount, 
      	createTime, 
      	updateTime)
    values (
    	#{gpointPaymentNo,jdbcType=INTEGER}, 
    	#{memberNo,jdbcType=INTEGER}, 
    	#{memberPhone,jdbcType=VARCHAR}, 
      	#{memberName,jdbcType=VARCHAR}, 
      	#{memberEmail,jdbcType=VARCHAR}, 
      	#{affiliateNo,jdbcType=INTEGER}, 
      	#{affiliateName,jdbcType=VARCHAR}, 
      	#{affiliateSerial,jdbcType=VARCHAR},
      	#{paymentApprovalAmount,jdbcType=INTEGER}, 
      	#{paymentApprovalNumber,jdbcType=VARCHAR},
      	#{paymentApprovalStatus,jdbcType=CHAR}, 
      	#{paymentMethod,jdbcType=CHAR}, 
      	#{paymentTransactionType,jdbcType=VARCHAR}, 
      	#{paymentApprovalDateTime,jdbcType=TIMESTAMP}, 
     	#{realPaymentAmount,jdbcType=INTEGER},
     	#{gpointPaymentAmount,jdbcType=INTEGER}, 
     	NOW(),
     	NOW())
      
        <selectKey keyProperty="gpointPaymentNo" resultType="java.lang.Integer" order ="AFTER">
		    SELECT LAST_INSERT_ID()
	 </selectKey>	
  </insert>
  <insert id="insertSelective" parameterType="com.returnp.pointback.model.GpointPayment">
    insert into gpoint_payment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gpointPaymentNo != null">
        gpointPaymentNo,
      </if>
      <if test="memberNo != null">
        memberNo,
      </if>
      <if test="memberPhone != null">
        memberPhone,
      </if>
      <if test="memberName != null">
        memberName,
      </if>
      <if test="memberEmail != null">
        memberEmail,
      </if>
      <if test="affiliateNo != null">
        affiliateNo,
      </if>
      <if test="affiliateName != null">
        affiliateName,
      </if>
      <if test="affiliateSerial != null">
        affiliateSerial,
      </if>
      <if test="paymentApprovalAmount != null">
        paymentApprovalAmount,
      </if>
      <if test="paymentApprovalNumber != null">
        paymentApprovalNumber,
      </if>
      <if test="paymentApprovalStatus != null">
        paymentApprovalStatus,
      </if>
      <if test="paymentMethod != null">
        paymentMethod,
      </if>
      <if test="paymentTransactionType != null">
        paymentTransactionType,
      </if>
      <if test="paymentApprovalDateTime != null">
        paymentApprovalDateTime,
      </if>
      <if test="realPaymentAmount != null">
        realPaymentAmount,
      </if>
      <if test="gpointPaymentAmount != null">
        gpointPaymentAmount,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="updateTime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gpointPaymentNo != null">
        #{gpointPaymentNo,jdbcType=INTEGER},
      </if>
      <if test="memberNo != null">
        #{memberNo,jdbcType=INTEGER},
      </if>
      <if test="memberPhone != null">
        #{memberPhone,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null">
        #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="memberEmail != null">
        #{memberEmail,jdbcType=VARCHAR},
      </if>
      <if test="affiliateNo != null">
        #{affiliateNo,jdbcType=INTEGER},
      </if>
      <if test="affiliateName != null">
        #{affiliateName,jdbcType=VARCHAR},
      </if>
      <if test="affiliateSerial != null">
        #{affiliateSerial,jdbcType=VARCHAR},
      </if>
      <if test="paymentApprovalAmount != null">
        #{paymentApprovalAmount,jdbcType=INTEGER},
      </if>
      <if test="paymentApprovalNumber != null">
        #{paymentApprovalNumber,jdbcType=VARCHAR},
      </if>
      <if test="paymentApprovalStatus != null">
        #{paymentApprovalStatus,jdbcType=CHAR},
      </if>
      <if test="paymentMethod != null">
        #{paymentMethod,jdbcType=CHAR},
      </if>
      <if test="paymentTransactionType != null">
        #{paymentTransactionType,jdbcType=VARCHAR},
      </if>
      <if test="paymentApprovalDateTime != null">
        #{paymentApprovalDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="realPaymentAmount != null">
        #{realPaymentAmount,jdbcType=INTEGER},
      </if>
      <if test="gpointPaymentAmount != null">
        #{gpointPaymentAmount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.returnp.pointback.model.GpointPayment">
    update gpoint_payment
    <set>
      <if test="memberNo != null">
        memberNo = #{memberNo,jdbcType=INTEGER},
      </if>
      <if test="memberPhone != null">
        memberPhone = #{memberPhone,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null">
        memberName = #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="memberEmail != null">
        memberEmail = #{memberEmail,jdbcType=VARCHAR},
      </if>
      <if test="affiliateNo != null">
        affiliateNo = #{affiliateNo,jdbcType=INTEGER},
      </if>
      <if test="affiliateName != null">
        affiliateName = #{affiliateName,jdbcType=VARCHAR},
      </if>
      <if test="affiliateSerial != null">
        affiliateSerial = #{affiliateSerial,jdbcType=VARCHAR},
      </if>
      <if test="paymentApprovalAmount != null">
        paymentApprovalAmount = #{paymentApprovalAmount,jdbcType=INTEGER},
      </if>
      <if test="paymentApprovalNumber != null">
        paymentApprovalNumber = #{paymentApprovalNumber,jdbcType=VARCHAR},
      </if>
      <if test="paymentApprovalStatus != null">
        paymentApprovalStatus = #{paymentApprovalStatus,jdbcType=CHAR},
      </if>
      <if test="paymentMethod != null">
        paymentMethod = #{paymentMethod,jdbcType=CHAR},
      </if>
      <if test="paymentTransactionType != null">
        paymentTransactionType = #{paymentTransactionType,jdbcType=VARCHAR},
      </if>
      <if test="paymentApprovalDateTime != null">
        paymentApprovalDateTime = #{paymentApprovalDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="realPaymentAmount != null">
        realPaymentAmount = #{realPaymentAmount,jdbcType=INTEGER},
      </if>
      <if test="gpointPaymentAmount != null">
        gpointPaymentAmount = #{gpointPaymentAmount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where gpointPaymentNo = #{gpointPaymentNo,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.returnp.pointback.model.GpointPayment">
    update gpoint_payment
    set memberNo = #{memberNo,jdbcType=INTEGER},
      memberPhone = #{memberPhone,jdbcType=VARCHAR},
      memberName = #{memberName,jdbcType=VARCHAR},
      memberEmail = #{memberEmail,jdbcType=VARCHAR},
      affiliateNo = #{affiliateNo,jdbcType=INTEGER},
      affiliateName = #{affiliateName,jdbcType=VARCHAR},
      affiliateSerial = #{affiliateSerial,jdbcType=VARCHAR},
      paymentApprovalAmount = #{paymentApprovalAmount,jdbcType=INTEGER},
      paymentApprovalNumber = #{paymentApprovalNumber,jdbcType=VARCHAR},
      paymentApprovalStatus = #{paymentApprovalStatus,jdbcType=CHAR},
      paymentMethod = #{paymentMethod,jdbcType=CHAR},
      paymentTransactionType = #{paymentTransactionType,jdbcType=VARCHAR},
      paymentApprovalDateTime = #{paymentApprovalDateTime,jdbcType=TIMESTAMP},
      realPaymentAmount = #{realPaymentAmount,jdbcType=INTEGER},
      gpointPaymentAmount = #{gpointPaymentAmount,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updateTime = NOW()
    where gpointPaymentNo = #{gpointPaymentNo,jdbcType=INTEGER}
  </update>
</mapper>