<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.returnp.pointback.dao.mapper.MemberPlainPasswordMapper">
  <resultMap id="BaseResultMap" type="com.returnp.pointback.model.MemberPlainPassword">
    <id column="memberPlainPasswordNo" jdbcType="INTEGER" property="memberPlainPasswordNo" />
    <result column="memberNo" jdbcType="INTEGER" property="memberNo" />
    <result column="plainPassword" jdbcType="VARCHAR" property="plainPassword" />
    <result column="hashPassword" jdbcType="VARCHAR" property="hashPassword" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    memberPlainPasswordNo, memberNo, plainPassword, hashPassword, createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from member_plain_password
    where memberPlainPasswordNo = #{memberPlainPasswordNo,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from member_plain_password
    where memberPlainPasswordNo = #{memberPlainPasswordNo,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.returnp.pointback.model.MemberPlainPassword">
    insert into member_plain_password (memberPlainPasswordNo, memberNo, 
      plainPassword, hashPassword, createTime, 
      updateTime)
    values (#{memberPlainPasswordNo,jdbcType=INTEGER}, #{memberNo,jdbcType=INTEGER}, 
      #{plainPassword,jdbcType=VARCHAR}, #{hashPassword,jdbcType=VARCHAR}, NOW(), NOW())
      
          <selectKey keyProperty="memberPlainPasswordNo" resultType="java.lang.Integer" order ="AFTER">
		    SELECT LAST_INSERT_ID()
	 </selectKey>	
  </insert>
  <insert id="insertSelective" parameterType="com.returnp.pointback.model.MemberPlainPassword">
    insert into member_plain_password
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="memberPlainPasswordNo != null">
        memberPlainPasswordNo,
      </if>
      <if test="memberNo != null">
        memberNo,
      </if>
      <if test="plainPassword != null">
        plainPassword,
      </if>
      <if test="hashPassword != null">
        hashPassword,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="updateTime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="memberPlainPasswordNo != null">
        #{memberPlainPasswordNo,jdbcType=INTEGER},
      </if>
      <if test="memberNo != null">
        #{memberNo,jdbcType=INTEGER},
      </if>
      <if test="plainPassword != null">
        #{plainPassword,jdbcType=VARCHAR},
      </if>
      <if test="hashPassword != null">
        #{hashPassword,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.returnp.pointback.model.MemberPlainPassword">
    update member_plain_password
    <set>
      <if test="memberNo != null">
        memberNo = #{memberNo,jdbcType=INTEGER},
      </if>
      <if test="plainPassword != null">
        plainPassword = #{plainPassword,jdbcType=VARCHAR},
      </if>
      <if test="hashPassword != null">
        hashPassword = #{hashPassword,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where memberPlainPasswordNo = #{memberPlainPasswordNo,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.returnp.pointback.model.MemberPlainPassword">
    update member_plain_password
    set memberNo = #{memberNo,jdbcType=INTEGER},
      plainPassword = #{plainPassword,jdbcType=VARCHAR},
      hashPassword = #{hashPassword,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updateTime = NOW()
    where memberPlainPasswordNo = #{memberPlainPasswordNo,jdbcType=INTEGER}
  </update>
</mapper>