<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.returnp.pointback.dao.mapper.PaymentTransactionRouterMapper">
  <resultMap id="BaseResultMap" type="com.returnp.pointback.model.PaymentTransactionRouter">
    <id column="paymentTransactionRouterNo" jdbcType="INTEGER" property="paymentTransactionRouterNo" />
    <result column="paymentTransactionNo" jdbcType="INTEGER" property="paymentTransactionNo" />
    <result column="paymentRouterNo" jdbcType="INTEGER" property="paymentRouterNo" />
  </resultMap>
  <sql id="Base_Column_List">
    paymentTransactionRouterNo, paymentTransactionNo, paymentRouterNo
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from payment_transaction_router
    where paymentTransactionRouterNo = #{paymentTransactionRouterNo,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from payment_transaction_router
    where paymentTransactionRouterNo = #{paymentTransactionRouterNo,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.returnp.pointback.model.PaymentTransactionRouter">
    insert into payment_transaction_router (paymentTransactionRouterNo, paymentTransactionNo, 
      paymentRouterNo)
    values (#{paymentTransactionRouterNo,jdbcType=INTEGER}, #{paymentTransactionNo,jdbcType=INTEGER}, 
      #{paymentRouterNo,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.returnp.pointback.model.PaymentTransactionRouter">
    insert into payment_transaction_router
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="paymentTransactionRouterNo != null">
        paymentTransactionRouterNo,
      </if>
      <if test="paymentTransactionNo != null">
        paymentTransactionNo,
      </if>
      <if test="paymentRouterNo != null">
        paymentRouterNo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="paymentTransactionRouterNo != null">
        #{paymentTransactionRouterNo,jdbcType=INTEGER},
      </if>
      <if test="paymentTransactionNo != null">
        #{paymentTransactionNo,jdbcType=INTEGER},
      </if>
      <if test="paymentRouterNo != null">
        #{paymentRouterNo,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.returnp.pointback.model.PaymentTransactionRouter">
    update payment_transaction_router
    <set>
      <if test="paymentTransactionNo != null">
        paymentTransactionNo = #{paymentTransactionNo,jdbcType=INTEGER},
      </if>
      <if test="paymentRouterNo != null">
        paymentRouterNo = #{paymentRouterNo,jdbcType=INTEGER},
      </if>
    </set>
    where paymentTransactionRouterNo = #{paymentTransactionRouterNo,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.returnp.pointback.model.PaymentTransactionRouter">
    update payment_transaction_router
    set paymentTransactionNo = #{paymentTransactionNo,jdbcType=INTEGER},
      paymentRouterNo = #{paymentRouterNo,jdbcType=INTEGER}
    where paymentTransactionRouterNo = #{paymentTransactionRouterNo,jdbcType=INTEGER}
  </update>
</mapper>