<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.returnp.pointback.dao.mapper.PointCodeTransactionMapper">
  <resultMap id="BaseResultMap" type="com.returnp.pointback.model.PointCodeTransaction">
    <id column="pointCodeTransactionNo" jdbcType="INTEGER" property="pointCodeTransactionNo" />
    <result column="memberNo" jdbcType="INTEGER" property="memberNo" />
    <result column="pointCodeIssueNo" jdbcType="INTEGER" property="pointCodeIssueNo" />
    <result column="pointBackStatus" jdbcType="VARCHAR" property="pointBackStatus" />
    <result column="payAmount" jdbcType="INTEGER" property="payAmount" />
    <result column="accPointRate" jdbcType="REAL" property="accPointRate" />
    <result column="accPointAmount" jdbcType="REAL" property="accPointAmount" />
    <result column="pointCode" jdbcType="VARCHAR" property="pointCode" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    pointCodeTransactionNo, memberNo, pointCodeIssueNo, pointBackStatus, payAmount, accPointRate, 
    accPointAmount, pointCode, createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from point_code_transaction
    where pointCodeTransactionNo = #{pointCodeTransactionNo,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from point_code_transaction
    where pointCodeTransactionNo = #{pointCodeTransactionNo,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.returnp.pointback.model.PointCodeTransaction">
    insert into point_code_transaction (pointCodeTransactionNo, memberNo, 
      pointCodeIssueNo, pointBackStatus, payAmount, 
      accPointRate, accPointAmount, pointCode, 
      createTime, updateTime)
    values (#{pointCodeTransactionNo,jdbcType=INTEGER}, #{memberNo,jdbcType=INTEGER}, 
      #{pointCodeIssueNo,jdbcType=INTEGER}, #{pointBackStatus,jdbcType=VARCHAR}, #{payAmount,jdbcType=INTEGER}, 
      #{accPointRate,jdbcType=REAL}, #{accPointAmount,jdbcType=REAL}, #{pointCode,jdbcType=VARCHAR}, 
      NOW(), NOW())
      
        <selectKey keyProperty="pointCodeTransactionNo" resultType="java.lang.Integer" order ="AFTER">
		    SELECT LAST_INSERT_ID()
	 </selectKey>	
  </insert>
  <insert id="insertSelective" parameterType="com.returnp.pointback.model.PointCodeTransaction">
    insert into point_code_transaction
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pointCodeTransactionNo != null">
        pointCodeTransactionNo,
      </if>
      <if test="memberNo != null">
        memberNo,
      </if>
      <if test="pointCodeIssueNo != null">
        pointCodeIssueNo,
      </if>
      <if test="pointBackStatus != null">
        pointBackStatus,
      </if>
      <if test="payAmount != null">
        payAmount,
      </if>
      <if test="accPointRate != null">
        accPointRate,
      </if>
      <if test="accPointAmount != null">
        accPointAmount,
      </if>
      <if test="pointCode != null">
        pointCode,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="updateTime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pointCodeTransactionNo != null">
        #{pointCodeTransactionNo,jdbcType=INTEGER},
      </if>
      <if test="memberNo != null">
        #{memberNo,jdbcType=INTEGER},
      </if>
      <if test="pointCodeIssueNo != null">
        #{pointCodeIssueNo,jdbcType=INTEGER},
      </if>
      <if test="pointBackStatus != null">
        #{pointBackStatus,jdbcType=VARCHAR},
      </if>
      <if test="payAmount != null">
        #{payAmount,jdbcType=INTEGER},
      </if>
      <if test="accPointRate != null">
        #{accPointRate,jdbcType=REAL},
      </if>
      <if test="accPointAmount != null">
        #{accPointAmount,jdbcType=REAL},
      </if>
      <if test="pointCode != null">
        #{pointCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.returnp.pointback.model.PointCodeTransaction">
    update point_code_transaction
    <set>
      <if test="memberNo != null">
        memberNo = #{memberNo,jdbcType=INTEGER},
      </if>
      <if test="pointCodeIssueNo != null">
        pointCodeIssueNo = #{pointCodeIssueNo,jdbcType=INTEGER},
      </if>
      <if test="pointBackStatus != null">
        pointBackStatus = #{pointBackStatus,jdbcType=VARCHAR},
      </if>
      <if test="payAmount != null">
        payAmount = #{payAmount,jdbcType=INTEGER},
      </if>
      <if test="accPointRate != null">
        accPointRate = #{accPointRate,jdbcType=REAL},
      </if>
      <if test="accPointAmount != null">
        accPointAmount = #{accPointAmount,jdbcType=REAL},
      </if>
      <if test="pointCode != null">
        pointCode = #{pointCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where pointCodeTransactionNo = #{pointCodeTransactionNo,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.returnp.pointback.model.PointCodeTransaction">
    update point_code_transaction
    set memberNo = #{memberNo,jdbcType=INTEGER},
      pointCodeIssueNo = #{pointCodeIssueNo,jdbcType=INTEGER},
      pointBackStatus = #{pointBackStatus,jdbcType=VARCHAR},
      payAmount = #{payAmount,jdbcType=INTEGER},
      accPointRate = #{accPointRate,jdbcType=REAL},
      accPointAmount = #{accPointAmount,jdbcType=REAL},
      pointCode = #{pointCode,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updateTime = NOW()
    where pointCodeTransactionNo = #{pointCodeTransactionNo,jdbcType=INTEGER}
  </update>
</mapper>