<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.returnp.pointback.dao.mapper.SaleManagerMapper">
  <resultMap id="BaseResultMap" type="com.returnp.pointback.model.SaleManager">
    <id column="saleManagerNo" jdbcType="INTEGER" property="saleManagerNo" />
    <result column="memberNo" jdbcType="INTEGER" property="memberNo" />
    <result column="saleManagerCode" jdbcType="VARCHAR" property="saleManagerCode" />
    <result column="saleManagerName" jdbcType="VARCHAR" property="saleManagerName" />
    <result column="saleManagerAddress" jdbcType="VARCHAR" property="saleManagerAddress" />
    <result column="saleManagerTel" jdbcType="VARCHAR" property="saleManagerTel" />
    <result column="saleManagerPhone" jdbcType="VARCHAR" property="saleManagerPhone" />
    <result column="saleManagerStatus" jdbcType="VARCHAR" property="saleManagerStatus" />
    <result column="regType" jdbcType="CHAR" property="regType" />
    <result column="regAdminNo" jdbcType="INTEGER" property="regAdminNo" />
    <result column="saleManagerEmail" jdbcType="VARCHAR" property="saleManagerEmail" />
    <result column="greenPointAccStatus" jdbcType="CHAR" property="greenPointAccStatus" />
    <result column="redPointAccStatus" jdbcType="CHAR" property="redPointAccStatus" />
    <result column="greenPointUseStatus" jdbcType="CHAR" property="greenPointUseStatus" />
    <result column="redPointUseStatus" jdbcType="CHAR" property="redPointUseStatus" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    saleManagerNo, memberNo, saleManagerCode, saleManagerName, saleManagerAddress, saleManagerTel, 
    saleManagerPhone, saleManagerStatus, regType, regAdminNo, saleManagerEmail, greenPointAccStatus, 
    redPointAccStatus, greenPointUseStatus, redPointUseStatus, createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sale_manager
    where saleManagerNo = #{saleManagerNo,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sale_manager
    where saleManagerNo = #{saleManagerNo,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.returnp.pointback.model.SaleManager">
    insert into sale_manager (saleManagerNo, memberNo, saleManagerCode, 
      saleManagerName, saleManagerAddress, saleManagerTel, 
      saleManagerPhone, saleManagerStatus, regType, 
      regAdminNo, saleManagerEmail, greenPointAccStatus, 
      redPointAccStatus, greenPointUseStatus, redPointUseStatus, 
      createTime, updateTime)
    values (#{saleManagerNo,jdbcType=INTEGER}, #{memberNo,jdbcType=INTEGER}, #{saleManagerCode,jdbcType=VARCHAR}, 
      #{saleManagerName,jdbcType=VARCHAR}, #{saleManagerAddress,jdbcType=VARCHAR}, #{saleManagerTel,jdbcType=VARCHAR}, 
      #{saleManagerPhone,jdbcType=VARCHAR}, #{saleManagerStatus,jdbcType=VARCHAR}, #{regType,jdbcType=CHAR}, 
      #{regAdminNo,jdbcType=INTEGER}, #{saleManagerEmail,jdbcType=VARCHAR}, #{greenPointAccStatus,jdbcType=CHAR}, 
      #{redPointAccStatus,jdbcType=CHAR}, #{greenPointUseStatus,jdbcType=CHAR}, #{redPointUseStatus,jdbcType=CHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.returnp.pointback.model.SaleManager">
    insert into sale_manager
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="saleManagerNo != null">
        saleManagerNo,
      </if>
      <if test="memberNo != null">
        memberNo,
      </if>
      <if test="saleManagerCode != null">
        saleManagerCode,
      </if>
      <if test="saleManagerName != null">
        saleManagerName,
      </if>
      <if test="saleManagerAddress != null">
        saleManagerAddress,
      </if>
      <if test="saleManagerTel != null">
        saleManagerTel,
      </if>
      <if test="saleManagerPhone != null">
        saleManagerPhone,
      </if>
      <if test="saleManagerStatus != null">
        saleManagerStatus,
      </if>
      <if test="regType != null">
        regType,
      </if>
      <if test="regAdminNo != null">
        regAdminNo,
      </if>
      <if test="saleManagerEmail != null">
        saleManagerEmail,
      </if>
      <if test="greenPointAccStatus != null">
        greenPointAccStatus,
      </if>
      <if test="redPointAccStatus != null">
        redPointAccStatus,
      </if>
      <if test="greenPointUseStatus != null">
        greenPointUseStatus,
      </if>
      <if test="redPointUseStatus != null">
        redPointUseStatus,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="updateTime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="saleManagerNo != null">
        #{saleManagerNo,jdbcType=INTEGER},
      </if>
      <if test="memberNo != null">
        #{memberNo,jdbcType=INTEGER},
      </if>
      <if test="saleManagerCode != null">
        #{saleManagerCode,jdbcType=VARCHAR},
      </if>
      <if test="saleManagerName != null">
        #{saleManagerName,jdbcType=VARCHAR},
      </if>
      <if test="saleManagerAddress != null">
        #{saleManagerAddress,jdbcType=VARCHAR},
      </if>
      <if test="saleManagerTel != null">
        #{saleManagerTel,jdbcType=VARCHAR},
      </if>
      <if test="saleManagerPhone != null">
        #{saleManagerPhone,jdbcType=VARCHAR},
      </if>
      <if test="saleManagerStatus != null">
        #{saleManagerStatus,jdbcType=VARCHAR},
      </if>
      <if test="regType != null">
        #{regType,jdbcType=CHAR},
      </if>
      <if test="regAdminNo != null">
        #{regAdminNo,jdbcType=INTEGER},
      </if>
      <if test="saleManagerEmail != null">
        #{saleManagerEmail,jdbcType=VARCHAR},
      </if>
      <if test="greenPointAccStatus != null">
        #{greenPointAccStatus,jdbcType=CHAR},
      </if>
      <if test="redPointAccStatus != null">
        #{redPointAccStatus,jdbcType=CHAR},
      </if>
      <if test="greenPointUseStatus != null">
        #{greenPointUseStatus,jdbcType=CHAR},
      </if>
      <if test="redPointUseStatus != null">
        #{redPointUseStatus,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.returnp.pointback.model.SaleManager">
    update sale_manager
    <set>
      <if test="memberNo != null">
        memberNo = #{memberNo,jdbcType=INTEGER},
      </if>
      <if test="saleManagerCode != null">
        saleManagerCode = #{saleManagerCode,jdbcType=VARCHAR},
      </if>
      <if test="saleManagerName != null">
        saleManagerName = #{saleManagerName,jdbcType=VARCHAR},
      </if>
      <if test="saleManagerAddress != null">
        saleManagerAddress = #{saleManagerAddress,jdbcType=VARCHAR},
      </if>
      <if test="saleManagerTel != null">
        saleManagerTel = #{saleManagerTel,jdbcType=VARCHAR},
      </if>
      <if test="saleManagerPhone != null">
        saleManagerPhone = #{saleManagerPhone,jdbcType=VARCHAR},
      </if>
      <if test="saleManagerStatus != null">
        saleManagerStatus = #{saleManagerStatus,jdbcType=VARCHAR},
      </if>
      <if test="regType != null">
        regType = #{regType,jdbcType=CHAR},
      </if>
      <if test="regAdminNo != null">
        regAdminNo = #{regAdminNo,jdbcType=INTEGER},
      </if>
      <if test="saleManagerEmail != null">
        saleManagerEmail = #{saleManagerEmail,jdbcType=VARCHAR},
      </if>
      <if test="greenPointAccStatus != null">
        greenPointAccStatus = #{greenPointAccStatus,jdbcType=CHAR},
      </if>
      <if test="redPointAccStatus != null">
        redPointAccStatus = #{redPointAccStatus,jdbcType=CHAR},
      </if>
      <if test="greenPointUseStatus != null">
        greenPointUseStatus = #{greenPointUseStatus,jdbcType=CHAR},
      </if>
      <if test="redPointUseStatus != null">
        redPointUseStatus = #{redPointUseStatus,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where saleManagerNo = #{saleManagerNo,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.returnp.pointback.model.SaleManager">
    update sale_manager
    set memberNo = #{memberNo,jdbcType=INTEGER},
      saleManagerCode = #{saleManagerCode,jdbcType=VARCHAR},
      saleManagerName = #{saleManagerName,jdbcType=VARCHAR},
      saleManagerAddress = #{saleManagerAddress,jdbcType=VARCHAR},
      saleManagerTel = #{saleManagerTel,jdbcType=VARCHAR},
      saleManagerPhone = #{saleManagerPhone,jdbcType=VARCHAR},
      saleManagerStatus = #{saleManagerStatus,jdbcType=VARCHAR},
      regType = #{regType,jdbcType=CHAR},
      regAdminNo = #{regAdminNo,jdbcType=INTEGER},
      saleManagerEmail = #{saleManagerEmail,jdbcType=VARCHAR},
      greenPointAccStatus = #{greenPointAccStatus,jdbcType=CHAR},
      redPointAccStatus = #{redPointAccStatus,jdbcType=CHAR},
      greenPointUseStatus = #{greenPointUseStatus,jdbcType=CHAR},
      redPointUseStatus = #{redPointUseStatus,jdbcType=CHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updateTime = #{updateTime,jdbcType=TIMESTAMP}
    where saleManagerNo = #{saleManagerNo,jdbcType=INTEGER}
  </update>
</mapper>